/* COLOR */
$color-main: #6F00FF;
$color-secondary: #FF1D00;
$color-dark: #000000;
$color-mid: #7F7F7F;
$color-light: #D5D5D5;
$color-lightest: #FFFFFF;


/* TYPOGRAPHY */
$font-family-logo: 'Oleo Script', cursive;
$font-family-main: 'Noto Sans', sans-serif;

/* SIZE */
$max-width: 680px;
$frame-height: 4rem;
