@import '../variables';

.sg-forms {
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    &__field-container-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0.4rem;
        

        input[type="text"] {
            border: 1px solid $color-light;
            color: $color-dark;
            font-family: $font-family-main;
            font-weight: 600;
            font-size: 1.2rem;
            padding: 0.25rem 0.75rem;
        
        }
    }

    &__field-container-select-filter {
        border: none;
        display: flex;
        align-items: center;
        margin: 0.4rem;
        overflow-x: auto;
        padding: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        .sg-forms__select-image-item {
            margin: 0 0.15rem;

            label {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                position: relative;
                text-transform: uppercase;
                font-size: 0.6rem;
                font-weight: 700;
    
                
                img {
                    aspect-ratio: 1;
                    margin-top: 0.15rem;
                    object-fit: cover;
                    width: 6rem;
                }
            }
    
            input[type='radio'] {
                display: none;
            }

            &--checked {
                .sg-forms__select-image-frame {
                    position: absolute;
                    height: 87%;
                    width: 100%;
                    bottom: 0;
                    border: 2px solid $color-main;
                }
            }
        }


    }

    &__field-label {
        margin: 0 0 0.5rem;
        font-weight: 600;

        &--quiet {
            color: $color-mid;
        }

        &--loud {
            color: $color-main;
        }
    }

    &__submit-button {
        margin: 0.4rem;
        border: none;
        border-radius: 4px;
        background-color: $color-dark ;
        color: $color-lightest;
        font-family: $font-family-main;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem;

        &:hover {
            background-color: $color-main;
        } 
    }
}




